<!DOCTYPE html>
<html>
<head>
	<title>Arcadia Transcript Stardate {{ stardate }}</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,700italic,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="transcripts.css" />
</head>
<body>
	
{% include 'selector.twig' %}

	<hr />

	<h3>Arcadia Station SB&ndash;101</h3>

	{% if arc_title|length %}<h1>{{ arc_title }}</h1>{% endif %}
	{% if episode_number_roman %}
		<h2>Episode {{ episode_number_roman }} ({{ episode_number_integer }})
			{% if episode_title %}&mdash; &ldquo;{{ episode_title }}&rdquo;{% endif %}
		</h2>
	{% endif %}
	<h3>Stardate {{ stardate }}</h3>	
	<hr />
	
	{% if starring|length > 0 %}
		{% include 'starring.twig' %}
	{% endif %}
	
	{% if npcs|length > 0 %}
		{% include 'npcs.twig' %}
	{% endif %}

	<hr />
	
	<div id="transcript_text">
		<h4 class="transcript_headline">Mission Transcript</h4>
		
		{{ transcript }}
	</div>
	
	</body>
</html>